# Azure DevOps Configuration
# Replace YOUR_NEW_PAT_HERE with the new Personal Access Token
ADO_PERSONAL_ACCESS_TOKEN=YOUR_NEW_PAT_HERE
ADO_ORGANIZATION_URL=https://dev.azure.com/prayankagochipatula/
ADO_PROJECT_NAME=Backstage

# Other configurations
GEMINI_API_KEY=AIzaSyA5_KnR58T2MTG4oOvBeAqbd8idJCdOlRA
ACS_CONNECTION_STRING=endpoint=https://shashank-communication-service.india.communication.azure.com/;accesskey=BUWBUP5PpFKZywNMg94DJg7HGROomxyNbCdbYoBFL7ovl6Cvds1gJQQJ99BFACULyCpydQxwAAAAAZCSbulm
ACS_SENDER_ADDRESS=DoNotReply@88295e93-5cda-4535-921f-7241cc7d1612.azurecomm.net
APPROVAL_RECIPIENT_EMAIL=Raghavendra.Lakkamaraju@valuemomentum.com 